:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  place-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: background 10s infinite;
  transition: all 0.5s ease-in-out;
}
@keyframes background {
  0%,
  25% {
    background: #242424;
    background-image: url("./assets/back.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    background: rgba(255, 255, 255, 0.4);
    background-image: url("./assets/backrev.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  75%,
  100% {
    background: #242424;
    background-image: url("./assets/back.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
